body {
    font-family: "proxima-nova", sans-serif;
    color: white;
    display: flex;
    height: 100vh;
    background: #111;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: repeating-linear-gradient(
        0deg,
        hsla(103, 11%, 32%, 0.09) 0px,
        hsla(103, 11%, 32%, 0.09) 1px,
        transparent 1px,
        transparent 11px
      ),
      repeating-linear-gradient(
        90deg,
        hsla(103, 11%, 32%, 0.09) 0px,
        hsla(103, 11%, 32%, 0.09) 1px,
        transparent 1px,
        transparent 11px
      ),
      linear-gradient(90deg, hsl(317, 13%, 6%), hsl(317, 13%, 6%));
  }
  #demo {
    width: 90vw;
    height: auto;
    max-width: 720px;
    overflow: visible;
    margin: 1rem auto;
  }
  #icons path {
    fill: white;
  }
  
  #stretchy {
    fill: #5da662;
  }
  
  text {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    fill: rgba(0, 0, 0, 0.5);
  }
  
  #icons g {
    cursor: pointer;
  }
  
  #icons rect {
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.15);
    stroke-width: 2px;
    rx: 8px;
    ry: 8px;
  }
  
  h1,
  h2,
  p {
    margin: 0;
  }
  h2 {
    font-weight: 400;
  }
  h2 span {
    font-weight: 700;
    color: #5cceee;
  }
  
  a {
    background: #5cceee;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  a:hover {
    background: white;
    color: #5cceee;
  }
  
  .branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
  }
  